<!DOCTYPE html> 
2 <html> 
3 	<head> 
4 		<title>Jorn and Ralph, Makers</title> 
5 			<!-- link to main stylesheet --> 
6 		<link rel="stylesheet" type="text/css" href="/css/main.css"> 
7 
 
8 	</head> 
9 	<body> 
10 		<nav> 
11     		<ul> 
12         		<li><a href="/">Home</a></li> 
13 	        	<li><a href="/about">About</a></li> 
14         		<li><a href="/cv">CV</a></li> 
15         		<li><a href="/blog">Blog</a></li> 
16     		</ul> 
17 		</nav> 
18 		<div class="container"> 
19     		<div class="blurb"> 
20         		<h1>Hi there, we are Ralph and Jorn and we make stuff!</h1> 
21 				<p>We make longboards, speakers, amplifiers and other stuff!</p> 
22     		</div><!-- /.blurb --> 
23 		</div><!-- /.container --> 
24 		<footer> 
25     		<ul> 
26     			<p>Contact us: email:ralphvdhoek@gmail.com</p> 
27         		<li><a href="http://www.github.com/ralphandjorn">github</a></li> 
28 			</ul> 
29 		</footer> 
30 	</body> 
31 </html> 

